@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 data-bind="text: textTest" class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button data-bind="click: function(){ GetAllFilmsForUser() }">CLICK</button>







@section scripts{

    <script src="~/lib/knockout-min.js"></script>
    <script src="~/lib/TypeScript/ViewModels/HomeViewModel.js"></script>
    <script src="~/lib/TypeScript/Repositories/HomeRepository.js"></script>

    <script type="text/javascript">
        $(function () {
            var repository = new TT.HomeRepository();
            const viewModel = new TT.HomeViewModel(repository);
            ko.applyBindings(viewModel);
        });
    </script>
}